/* * {
    font-family: Arial, Helvetica, sans-serif;
} */

body {
    display: flex;
    flex-direction: column;
    line-height: 1.3;
  }
  
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1%;
    background-color: #251a65;
    color: #fff;
  }
  
  header h1 {
    font-size: 200%;
    background: rgb(13, 104, 24);
    background-clip: border-box;
  }
  
  h2 {
    margin: 2% 0;
    font-size: 250%;
  }
  
  nav ul {
    display: flex;
    justify-content: space-between;
    text-decoration: underline;
    min-width: 300px;
  }

  nav a {
    color: #b9c6ae;
    font-weight: bold;
    text-decoration: none;
  }
  
  nav a:hover {
    color: #fff;
  }
  
  main {
    display: flex;
    /* flex: 1 1 0; */
    /* max-width: 1200px; */
    margin: 2% auto;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }

  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 80%;
  }

  .card-left {
    padding: 10px;
    text-align: right;
    /* border-style: solid; */
    border-width: 1px;
  }

  .card-right {
    padding: 10px;
    text-align: left;
    /* border-style: solid; */
    border-width: 1px;
  }
  
  
  footer {
    display: flex;
    justify-content: center;
    padding: 2%;
    background-color: #251a65;
    color: #fff;
    flex-shrink: 0;
  }
  /* Sticky Footer */

  .resources .links {
    display: none;
    padding: 1% 0;
  }
  
  .resources:hover .links {
    display: block;
  }
  
  .resources h3 {
    font-size: 150%;
  }
  
  .links a {
    color: #772014;
    text-decoration: none;
  }
  
  .links a:hover {
    text-decoration: underline;
  }
  
  @media screen and (max-width: 768px) {
    header {
      flex-direction: column;
    }
  
    main {
      flex-direction: column;
    }
  
    section {
      padding-right: 0;
    }
  
    aside {
      width: 100%;
      text-align: center;
    }
  }